@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab', serif;
  background-color: #87e9d4;
  margin: 0;
  padding: 20px;
  width:100%;
}

header {
  background-color: #013531;
  color: white;
  text-align: center; 
  padding: 20px;
}

header h1 {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p, li, td {
  font-size: 18px;
}
p, h3 {
  white-space: normal;
  word-wrap: break-word;
}
 .info-section {
  background-color: #020730;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.info-section p {
  margin: 12px 0;
  font-size: 18px;
}

.info-section strong {
  color: #b6e4f1;
  font-size: 22px;
}
.about-section {
  display: flex;
  align-items: center;
  gap: 40px;

  background-color: #013d49;
  padding: 30px;
  border-radius: 10px;

  flex-wrap: wrap;
  margin: 20px auto;
}

.about-section img {
  width: 280px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-text {
  flex: 1;
  min-width: 250px;
  text-align: left;
}

.about-text h2 {
  color: #9ef8e2;
  margin-bottom: 15px;
}

.about-text p {
  color: #fbfcfc;
  font-size: 18px;
  line-height: 1.6;
  max-width: 60 ch;
  hyphens: auto;
}

section {
  background-color: #013d49;
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
}

h3 {
  color: #013531;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.content-section {
  padding: 30px;
  margin: 20px auto;
  background-color: #020730;
  color: white;
  border-radius: 10px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 650px) {
  .content-section {
    padding: 25px;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .content-block {
    flex: 1;
    max-width: 50%;
  }
}

.content-section h3 {
  color: #b6e4f1;
  margin-bottom: 10px;
}

.content-section li {
  color: white;
  font-size: 18px;
  line-height: 1.6;
}
.content-section ul {
  list-style-type: square;
  padding-left: 20px;
}
.table-section {
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
}
.table-section table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}
.table-section table th, .table-section table td {
  padding: 16px 20px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.table-section table th:first-child, .table-section table td:first-child {
  width: 40%;
  font-weight: bold;
  text-align: center;
}
.table-section th:first-child, .table-section table th:last-child {
  color: #b6e4f1;
  text-align: center;
}
.table-section table th:last-child, .table-section table td:last-child {
  width: 60%;
}
.table-section 
h2 {
    color: #9ef8e2;
    align-items: center;
}

table,
th,
td {
  border: 1px solid #84c4d9;
}

th
 {
  padding: 10px;
  font-size:larger;
  text-align: left;
}

td {
  padding: 10px;
  text-align: left;
}
th,
td {
  color: white;
}

footer {
  background-color: #013531;
  color: white;
  padding: 15px;
  text-align: center;
}

footer a {
  color: #99d4b7;
  text-decoration: none;
}